.api-form label > input {
  display: block;
  margin-top: 0.5em;
  width: 100%;
  max-width: 300px;
}

.api-form input[type='submit'] {
  margin-top: 20px;
  display: block;
  background-color: #ff7a64;
}
