@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&display=swap');

* {
  box-sizing: content-box;
}

body {
  background-color: #24232e;
  font-family: 'Cabin', sans-serif;
}

p {
  margin: 0;
}
