.filter-button {
  display: flex;
  align-items: center;
  background-color: #2f2f39;
  color: #fff;
}

.filter-button svg {
  width: 1em;
  height: 1em;
  margin-top: 2px;
  margin-left: 4px;
  color: #ff7a64;
}

.filters > h2 {
  text-align: center;
}

.filter-list {
  border-top: 1px #ccc solid;
}

.filter-list:last-child {
  border-top: 1px #ccc solid;
  border-bottom: 1px #ccc solid;
}

.filter-list > .name {
  cursor: pointer;
  padding: 20px;
}

.filter-list > ul {
  padding-top: 10px;
  padding-bottom: 10px;
}

.filter-list ul {
  padding-left: 20px;
  margin: 0 0 20px;
}

.filter-list li {
  list-style: none;
  margin-bottom: 10px;
}
