@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&display=swap');

* {
  box-sizing: content-box;
}

body {
  background-color: #24232e;
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
}

/* We're importing Cabin 500 weight as the bold font */
b,
strong,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.2em;
}

body.overlay-open {
  overflow: hidden;
}

#root {
  margin: 10px;
}

p {
  margin: 0;
}

button,
input[type='submit'] {
  display: inline-block;
  border: none;
  text-decoration: none;
  background: none;
  color: inherit;
  cursor: pointer;
  text-align: center;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  padding: 10px 20px;
  border-radius: 3px;
}

.card {
  padding: 20px;
  background: #fff;
  border-radius: 3px;
}
