.transactions {
  display: flex;
  flex-flow: column nowrap;
}

.transaction.disabled {
  color: gray;
}

.transactions .date {
  padding: 9px 20px;
  background: #f4f4f3;
  font-size: 0.8em;
  text-transform: uppercase;
  color: #7a7a81;
  font-weight: 500;
}

.transactions .load-more {
  padding: 10px 20px;
  border: none;
  background: #fdfdfd content-box;
  border-top: 1px #eaeaea solid;
}

.transactions .load-more:not([disabled]):hover {
  background: #f3f3f2;
}
.transactions .load-more:not([disabled]):active {
  background: #e2e2e1;
}

.transaction {
  padding: 10px 20px;
  display: flex;
  flex-flow: row nowrap;
  border-bottom: 1px #eaeaea solid;
}

.transaction:last-child {
  border-bottom: none;
}

.transaction input {
  margin: 10px 20px 10px 0;
  align-self: center;
}

.transaction .time {
  font-size: 0.8em;
  color: #7a7a81;
  margin-bottom: 3px;
}

.transaction .cover-emoji {
  display: inline-block;
  font-size: 0.6em;
  background-color: #e5e5e5;
  border-radius: 99999px;
  padding: 3px;
  position: relative;
  top: -10px;
}

.transaction .category-tags {
  margin-top: 7px;
  font-size: 0.9em;
}

.transaction .category-tags span {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 9999px;
  margin-right: 5px;
}

.transaction .category.personal {
  background-color: #ffe0cc;
}
.transaction .category.transport {
  background-color: #d7e6f4;
}
.transaction .category.home {
  background-color: #f0dbef;
}
.transaction .category.good-life {
  background-color: #fdf1b5;
}

.transaction .tag {
  background: #e5e5e5;
}

.transaction .left-side {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  align-self: center;
}

.transaction .price {
  font-size: 0.95em;
  font-weight: 500;
  margin: 3px 0;
}

.transaction .price.positive {
  color: #00bc83;
}

.transaction .covered {
  font-size: 0.8em;
  color: #7a7a81;
}
